*:root {
   /* define custom colour palette */
  --redred: #eb1c2c ;
  --mustard: #d3a228 ;
  --grassgreen: #249a49;
  --bloodred: #c31c30;
  --bloodorange: #ef4128;
  --cleanblue: #00aedb;
  --goldie: #ffb610 ;
  --blackcurrant: #8e1838;
  --orangina: #f36d24;
  --chewypink: #e31486;
  --flatorange: #fba02d;
  --khakisuit: #cf8e28;
  --armygreen: #49753c;
  --trueblue: #007dbe;
  --playgreen: #3cb249;
  --bluecollar: #00558a;
  --almostpurple: #00558a;


}

body, html {
      height:100%;
    background-image: url("https://res.cloudinary.com/jimtheenchanter/image/upload/v1587293456/SimpleGIS/smallnetwork.jpg")!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    position: relative!important;
    align-content: center;
  }

  /* body > .grid {
    height: 100%;
  } */
  /* .image {
    margin-top: 7rem;
  } */
  .column-form {
    max-width: 450px;
    margin-bottom:4em;
    margin-top:2em;
    color: var(--redred)!important;
  } 
  .map-section {
    text-align: center;
    padding-top: 1.5em;
  }

  card-image {
  height: 200px;
  
}



.houseicon {
  width:25px;
  height: auto;
  margin:.25em;
  
 
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2em;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  background-color: #49753c;;
  background-blend-mode: overlay;
  opacity: .9;

}

  /* Place text in the middle of the image */
  .hero-text {
  line-height: 2em;
}

h1 {
  text-align: center;
  font-size: 5em!important;
  font-weight: bold;

}

h2 {
  text-align: center;
  font-size: 4em!important;
  font-weight: bold;
  font-family:  'Lobster', Georgia, Times, serif!important;

}

h3 {
  text-align: left;
  font-size: 2em!important;
  font-weight: bold;
  font-family: 'Lobster';

}



.ui.card {
  opacity:1;
}

p {
   font-size: 1em; 
   line-height: 2em!important;
   font-family: 'Cabin', Helvetica, Arial, sans-serif;
   font-size: 15px;
   line-height: 25px;
   margin-left:1.5em!important;
   /* color: var(--redred)!important; */
  }



.description  {
    font-size:.75em;
    text-align: justify;
  }

.fluid.ui.button {
  background-color: transparent!important;
  
  /* color: white!important; */
  /* opacity: 100%!important; */
  border-radius: 2px;
  border-style: solid;
  border-color: whitesmoke;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
 }

 .fluid.ui.button:hover {
  background-color: #cf8e28!important; 
 
 }


 .start-button {
  color: rgb(244, 244, 244)!important;
  font-size: larger;
  letter-spacing: .25em;
}

.start-button:hover {
  color: rgba(2, 91, 171)!important;
}


.container {
  /* background-color: var(--armygreen); */
  display: inline-block;
  text-align: center;
  border: 0px ;
}


.grid-container {
  display: inline-block;
  grid-gap: 0;
 
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 0px;
}

.grid-item1 {
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--cleanblue) ;

  
  }
 .grid-item2 {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--bloodred) ;
  
    }

  .grid-item3 {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--blackcurrant) ;
         }

  .grid-item4 {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--orangina) ;
        }
 .grid-item1:hover {
  background-color:var(--goldie)!important; 
  color: var(--mustard);
 } 

 .grid-item2:hover {
  background-color:var(--goldie)!important; 
 } 
 .grid-item3:hover {
  background-color: var(--goldie)!important; 
 } 
 .grid-item4:hover {
  background-color: var(--goldie)!important; 
 } 

 .ui.form {
  /* position: absolute;
  transform: translate(-50%, -50%); */
 }

 .dashboard-buttons {
   font-family: 'Cabin' Arial, Helvetica, sans-serif;
   font-size: larger;
   font-weight: bold;
   padding: 2em;
   margin: 2em;
 }

 .field {
   text-align: left;
 }

 .form {
   max-width: 75%;
 }