*:root {
   /* define custom colour palette */
  --greylite: #f8f8f8 ;
  --redred: #eb1c2c ;
  --mustard: #d3a228 ;
  --grassgreen: #249a49;
  --bloodred: #c31c30;
  --bloodorange: #ef4128  ;
  --cleanblue: #00aedb;
  --goldie: #ffb610 ;
  --blackcurrant: #8e1838;
  --orangina: #f36d24;
  --chewypink: #e31486;
  --flatorange: #fba02d;
  --khakisuit: #cf8e28;
  --armygreen: #49753c;
  --trueblue: #007dbe;
  --playgreen: #3cb249;
  --bluecollar: #00558a;
 }

body, html {
    height:100%;
    min-height: 100% ;
    background-position: center!important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/jimtheenchanter/image/upload/v1589390875/SimpleGIS/smallnetwork-navy.jpg")!important;
    background-size: cover!important; 
    position: relative!important;
    font-family: 'Cabin', Arial, Helvetica, sans-serif;
    
    /* justify-content: center; */
  }

 
*, *:before, *:after {
    box-sizing: inherit;
  } 

  p {
    font-size: 1em; 
    line-height: 2em!important;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    margin-left:1.5em!important;
    margin-right:1.5em!important;
   }


.column-form {
  background-color: transparent;
  display: flex;
  justify-content: center;
  max-width: 50%;
  padding-top:4rem; 
  padding-left:0;
  color: var(--orangina)!important;
  } 

label {
    color: slategrey!important;
    float: left!important;
}

.label-add-form {
    color: slategrey!important;
    float: left!important;
    font-family: 'Courier New', Courier, monospace;
} 

 .total-label {
   float: right!important;
   margin-right: 2rem;
 }
 
 .topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color:  var(--greylite);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:var(--orangina);
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color:var(--orangina);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .burgericon {
  display: none;
} 
/* Hide the link that should open and close the topnav on small screens */

.login-label {
  color: var(--greylite)!important;
  float: left!important;
  font-weight: lighter;
}

.login-image {
 margin: 0 2em;
}

.horizontal.divider {
  margin-top: 1.5rem;
  color: var(--greylite);
  opacity: 60%;
}

#create-account {
  color: var(--orangina)!important;
}

.map-section {
    text-align: center;
    padding: 2em;
  }

.card-image {
  height: 200px;
  margin: 1em;
 }

span .date {
  font-size: .25rem!important;
} 

.ui.card {
  background-color: var(--greylite);
  text-align: center;
  border-style: solid;
  border-width: 1px;
  Border-color: var(--orangina);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



 .ui.header {
  color: slategrey!important;
  text-align: center;
  align-content: center;
}
 

.table-wrapper {
  height: 400px;
  overflow-y: auto;
  background-color: transparent; 
  padding-bottom: 0rem; 
  margin-bottom: 0rem;
  /* padding: 2rem; */
  width: 100%;
  font-family: 'Courier New', Courier, monospace;

}

.table-wrapper-wrapper {
  padding: 2rem;
  margin: 0;
  width: 100%;
  background-color: transparent;   
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.houseicon {
  width:25px;
  height: auto;
  margin:.25em;}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* position: relative; */
  padding: 2em;
  width: 100%;
  color: var(--greylite);
  background-color: #f36d24;
  background-blend-mode: overlay;
  /* opacity: .9; */

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

}

.flex-container > .ui.card {
 margin: 2em;
}

 /* Place text in the middle of the image */
.hero-text {
  line-height: 2em;
}

h1 {
  text-align: center;
  font-size: 5em!important;
  font-weight: bold;
  font-family:  'Lobster', Georgia, Times, serif!important;
}

h2 {
  text-align: center;
  font-size: 4em!important;
  font-weight: bold;
  font-family:  'Lobster', Georgia, Times, serif!important;
}

h3 {
  font-size: 2em!important;
  font-weight: bold;
  font-family:  'Lobster', Georgia, Times, serif!important;
}

h4 {
  text-align: center;
  font-size: 2rem!important;
  font-weight: bold;
  font-family:  'Cabin', Helvetica, sans-serif, Arial, !important;
  margin-left:auto;
  margin-right: auto;
  padding-left:0;
}


.ui.section {
  width: 100%!important;
  display: flex;
  align-content: center;
}

.ui.container {
  width: 100%!important;
  display: flex;
  align-content: center;
}

.description  {
    font-size:1rem;
    text-align: justify;
    line-height: 1.6rem;
  }

.fluid.ui.button {
  background-color: var(--orangina);
  opacity: .7;
  max-width: 100%!important;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  color: var(--greylite);
  border-color: var(--greylite);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  margin-bottom: 1rem;
  margin-top:1rem;
 }


.fluid.ui.button:hover {
 opacity: 1;

 }

 /* logo to overlay on map */
 #logo-overlay {
  position: absolute;
  z-index: 2;
  top: 2rem;
  right: 2rem;
 }

.start-button {
    /* color: rgb(244, 244, 244)!important; */
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: larger;
    letter-spacing: .2rem;
    text-align: center;
  }

 .ui.huge.button  {
    /* float: center; */
    text-align: center;
    background-color: var(--greylite);
    border-style: solid;
    border-color: var(--greylite);
    color: var(--orangina)!important;
    
  }

  .ui.huge.button:hover  {
    /* float: center; */
    text-align: center;
    background-color: transparent;
    border-style: solid;
    border-color: var(--greylite);
    color: var(--greylite)!important;
  }



 .column {
   display: flex;
   justify-content: center;
   text-align: center;
 }


.container {
  display: inline-block;
  text-align: center;
  border: 0px ;
}


.vertical-menu {
  grid-gap: 1em;
  color: var(--greylite);
  
  
 }


.grid-item1 {
  color: var(--greylite);
  justify-content: left;
  display: flex;
  background-color: var(--cleanblue) ;
  margin-bottom: .5em;

  
  }
.grid-item2 {
   color: white;
   justify-content: left;
   display: flex;
   background-color: var(--bloodred) ;
   margin-bottom: .5em;
 
   }
.grid-item3 {
   color: white;
   justify-content: left;
   display: flex;
   background-color: var(--blackcurrant) ;
   margin-bottom: .5em;
   
        }
.grid-item4 {
   color: white;
   justify-content: left;
   display: flex;
   background-color: var(--orangina) ;
   margin-bottom: .5em;
       }

.grid-item5 {
  color: white;
  justify-content: left;
  display: flex;
  background-color: var(--khakisuit) ;
  margin-bottom: .5em;
 }      


.grid-item1:hover {
 background-color:var(--goldie)!important; 
 color: var(--mustard);
} 

.grid-item2:hover {
 background-color:var(--goldie)!important; 
} 

.grid-item3:hover {
 background-color: var(--goldie)!important; 
} 

.grid-item4:hover {
  background-color: var(--goldie)!important; 
 } 

 .grid-item5:hover {
  background-color: var(--goldie)!important; 
 } 


.dashboard-buttons {
   font-family: 'Cabin', Arial, Helvetica, sans-serif;
   font-size: larger;
   font-weight: bold;
   padding: 1em 2em;
   margin: .5em 2em;
 }

 .icon {
   
   width: 2em;
   height: auto;
 }

.ui.middle.aligned.centre.grid {
   background-color: transparent;
 }
.ui.raised.segment {
   background-color:transparent ;
}

.settings-form {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding-top: 2rem;;
  margin: auto;
}

input {
   margin-bottom:.5rem!important;
   /* margin-right: 1rem!important;
   margin-left: 1rem!important; */
   max-width: 100%!important;
   } 

.splash-header  {
      color:var(--greylite);
      text-align: center;
      justify-content: center;
      margin-top: 1rem;
      margin-bottom: 2em;
      margin-left: 2rem;
      margin-right: 2rem;
    }

.ui.stackable.inverted.divided.equal.height.stackable.grid {
  width:100%;
}

.header-report {
  margin-left:2rem;
  color: var(--greylite);
  padding-bottom: 2rem;
}

.ui.header {
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-top: 2rem;
}

.login-header  {
  color:var(--greylite);
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 2rem;
}

.login-container {
  display: flex;
  justify-content: center;
}

#login {
  opacity: 1;
}

#login-fields-and-button {
 padding:  0;
  text-align: center;
}   

.form.header {
  color: var(--greylite);
}
.active.item {
  color: blue;
}

#mapid {
    height: 80vh;
    width: 100%;
    /* padding: 2rem; */
    border-color: white;
    border-width: medium;
    z-index: 1;
}

.map-wrapper {
  position: relative;
  width: 100%;
  border-width: 4px;
  border-style: solid;
  border-color: var(--orangina);
}

nav {
  margin-bottom: 0!important;
}

#eircode-finder {
  float: right;
}




#note {
  font-family: 'Courier New', Courier, monospace;
  background-color: wheat;
  height: 6em!important;
  width: 90%;
}

#comment {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--greylite);
  height: 6em!important;
  width: 100%;
}


#footer {
    clear:both;
    position: relative;
    bottom: 0;
    width: 100%;
}

.menu-pane {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width:30%;
  padding: 2rem 0;
 }

.main  {
  float:left;
  width:70%;
  padding: 2rem;
 }

.dashboard-wrapper {
  margin-top:1%;
} 

.ui.message {
  max-width: 95%!important;
  background-color: transparent;
  margin-top: .5rem!important;
  padding: 1rem;
  text-align:center;
 }



.meta {
  font-size: .75em;
  font-style: italic;
  color: var(--orangina);
  margin-top: -.75rem;
}   

.note-form {
  width: 90%;
} 

.nav {
  margin: 0 2rem;
}

   
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu-pane, .main, .right, .dashboard-left, 
  .dashboard-mid, .dashboard-right .column-form {
    width:100%;
    padding-left: 0;
    padding-right:0;
    padding-top: 1rem;
    padding-bottom:1rem;
   }

#mapid {
  width:100%;
  height:100vw;
}

.topnav a:not(:first-child) {display: none;}
  .topnav a.burgericon {
    float: right;
    display: block;
    color: white!important;
  }

.topnav.responsive {position: relative;}
  .topnav.responsive a.burgericon {
    position: absolute;
    right: 0;
    top: 0;
  }
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

