
<div class="ui raised segment">
 <div class="row">
  
     <div class="ui header">
         <h2> <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1588006231/icons/user-icon.png" /> &nbsp; 
         {{user.firstName}} </h2>
     <div class="caption">{{date}}</div>
   </div>

 </div>
 <div class="row"> 
     <div class="dashboard-menu">
       <div class="ui two column grid">
          
             <a class="grid-item" href="/addpropertypage">
                 <div class="dashboard-addproperty">+ Property </div>
             </a>
             <a class="grid-item" href="/polylinemain">
                <div class="dashboard-addpolyline">+ Polyline</div>
            </a>
         
           
            <a div class="grid-item" href="/report">
                   <div class="dashboard-map">Map</div>
             </a>
            <a class="grid-item" href="/report">
                    <div class="dashboard-report">Report</div>
             </a>
          
       </div>
     </div>
     </div> 
 </div>
