
<div class="ui raised segment">
 <div class="row">
  
     <div class="ui header">
         <h3> <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1588006231/icons/user-icon.png" /> &nbsp; 
         {{user.firstName}} </h3>
     {{!-- <div class="caption">{{date}}</div> --}}
   </div>

 </div>
 <div class="row">
          <div class="container">
          <div class="grid">
             <a class="grid-item1" href="/addpropertypage">
                 <div class="dashboard-addproperty">
                   <div class="dashboard-buttons">+ ADD PREMISES
                     </div> </div>
             </a>
             <a class="grid-item2" href="/polylinemain">
                <div class="dashboard-addpolyline">
                 <div class="dashboard-buttons">+ Draw a Route
                   </div>
                 </div>
            </a>
                    
            <a class="grid-item3" href="/report">
                   <div class="dashboard-map">
                     <div class="dashboard-buttons">
                     Map
                     </div></div>
             </a>
            <a class="grid-item4" href="/report">
                    <div class="dashboard-report">
                      <div class="dashboard-buttons">Report
                      </div></div>
             </a>
          </div>
          </div>
          </div>
     </div>
