

{{!-- <div class="login-container"> --}}
 {{!-- <div class="menu-pane"> --}}
   
        <div class="vertical-menu">
          <h3>Start Mapping!</h3>
                     <a class="grid-item1" href="/addpropertypage">
                 <div class="dashboard-addproperty">
                   <div class="dashboard-buttons">
                     <i class="map marker alternate icon"></i>
                        Add Marker
                     </div> 
                  </div>
             </a>
             <a class="grid-item2" href="/polylinemain">
                <div class="dashboard-addpolyline">
                 <div class="dashboard-buttons">
                    <i class="pencil alternate icon"></i>
                       Draw Polyline
                   </div>
                 </div>
            </a>
                    
            <a class="grid-item3" href="/polygonmain">
                   <div class="dashboard-addpolygon">
                     <div class="dashboard-buttons">
                        <i class="object group outline icon"></i>
                        Define Area 
                        </div></div>
             </a>
            <a class="grid-item4" href="/report">
                    <div class="dashboard-report">
                      <div class="dashboard-buttons">
                        <i class="table icon"></i>
                         View Report
                      </div></div>
             </a>
             <a class="grid-item5" href="/notemain">
                    <div class="dashboard-notes">
                      <div class="dashboard-buttons">
                        <i class="sticky note outline icon"></i>
                         Make a Note
                       </div>
                      </div>
             </a>
          </div>
  {{!-- </div> --}}

  {{!-- <div class="main">
    {{> mapreport }}  
  </div> --}}

{{!-- </div> --}}
