<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Subscribe</a>
            <a href="#" class="item">Donate</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Media</a>
            <a href="#" class="item">FAQ</a>
            <a href="#" class="item">How To </a>
            <a href="#" class="item">Tutorials</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Get Yourself Connected</h4>
          <p>DIY fibre is a real opportunity so nobody gets left behind.</p>
        </div>
      </div>
    </div>
  </div>
</div>