 <section>
   <style>
    
    </style>
  <div id="mapid"></div>
    
  <script type="text/javascript">
        var mymap = L.map('mapid').setView([52.346425, -7.321243], 18);
        // create a base layer of map tiles
         L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', 
        {
          attribution: '',
              maxZoom: 20,
          id: 'mapbox/satellite-v9',
          accessToken: 
          '{{ mapKey }} '
          // 'pk.eyJ1IjoiamltdGhlZW5jaGFudGVyIiwiYSI6ImNrNXhveWRhdTB5M3QzcW4zM2pmMHMxNnkifQ.ho-Px1mJyDlzc5JD9vgcFQ'        
         }).addTo(mymap);


// User clicks the map which adds coords to make polygon array
var polygon = new L.Polygon([]).addTo(mymap);

mymap.on('click', function(event) {
  // new marker on coordinate
  new L.Marker(event.latlng, {color: 'red', draggable: false}).addTo(mymap);
  polygon.addLatLng(event.latlng);

// populate latlng input box with polyline LatLngs
  document.getElementById('latlng').value = polygon.getLatLngs();

});

</script> 
{{!-- Iterate through the properties to add markers --}}
  {{#each properties}}
    <script>    
       L.marker([{{lat}}, {{long}}]).addTo(mymap);
    </script>
  {{/each}} 
  
    
</section>




