<div class="note-form">
 <div class="ui form">
  <form action="/addnote" method="POST">
    <div class="form header">
      <h3>Add New Note</h3>
    </div>
       <div class="field">
            <label></label>
            <textarea id="note" name="comment"></textarea>
        </div>
         <button class="ui submit button"><i class="save icon"></i>  Save </button>
  </form>
 </div>
</div>   