    <div class = "menu-pane">
          <form action="/addnote" method="POST">
           <div class="field">
                <label>Comments</label>
                <textarea id="comment" name="comment"></textarea>
               </div>
  <button class="ui blue submit button">  Save </button>
               </form>
    </div>