<div class="ui form">
 <div class="ui stacked segment">
    <form action="/polyline" method="POST">            
       <div class="ui header">  
          <h3> Draw a Route  </h3>
          <p>  Click on the map to draw the line  </p></div>
              <div class="field">
                    <label>Route Name</label>
                    <input type="text" id="polytitle" name="title" placeholder="Enter Route Name">
                </div>
                {{!-- hidden field to handle polyline coordinates --}}                
            <input type="hidden" id="latlng" name="latlng" placeholder="" accept="integer/*" maxlength="1000">
 
       <button class="ui fluid large submit button"> <i class="save outline icon"> </i>  Save </button>
    </form>
   </div>
</div>
     
 

