<section class="ui raised segment">

    <div class="ui header">
      <p></p>
      <h2>
        Add an area
      </h2>
   
    </div>
    <div class="ui form">
     <div class="ui stacked segment">
        <form action="/polygon" method="POST">            
                <div class="ui header">Define a land section</div>
                  <div class="field">
                        <label>Area name</label>
                        <input type="text" id="polygontitle" name="title" >
                    </div>
                    {{!-- hidden field to handle polyline coordinates --}}                
                <input type="hidden" id="latlng" name="latlng" placeholder="" accept="integer/*" maxlength="1000">
        <p>  Click on the map to draw the line </p>
           <button class="ui blue submit button">  Save </button>
        </form>
             </div>
    </div>
     
 

</section>