<section class="ui raised segment">
  <div class="ui grid ">
    <div class="ui header">
      <h2>
        Add a premises
      </h2>
      <p>
       <ol>
        <li>Enter Eircode</li>
        <li>Click on the map to get the coordinates</li>
        <li>Enter Longiture and Latitude </li>
        <li>Click 'Add' </li>
      </ol>  
      </p>
    </div>
    <div class="ui form">
     <div class="ui stacked segment">
        <form action="/property" method="POST">
                   {{!-- <input type="hidden" name="property"> --}}
         
                    <div class="field">
                        <label>Eircode</label>&nbsp; <div class="eircode-finder"> <a href="https://www.eircode.ie/" target="_blank" newwindow="true"><em>EIRCODE FINDER</em></a></div>
                        <input type="text" id="eircode" name="eircode" >
                    </div>

              <div class="field">
                        <label>Address</label>
                        <input type="text" id="address" name="address" >
                    </div>
                   <div class="ui header">Geo Location</div>
                   <div class="ui caption">Type the latitude and longitude of the property below or just click on the map.</div>
                    <div class="ui two fields">
                     
                     <div class="field">
                         <div class="ui text box">
                            <label>Longitude </label>
                            <input type="text" id="long" name="long" placeholder="0.000000" accept="integer/*" maxlength="20">
                        </div>
                    </div>

                     <div class="field">
                        <div class="ui text box">
                            <label>Latitude </label>
                            <input type="text" id="lat" name="lat" placeholder="0.000000" accept="integer/*" maxlength="20">
                        </div>
                      </div>

                    </div>
                  
                  {{!-- <div class="field">
                        <label>Address</label>
                        <input type="text" id="address" rows="2" name="address" >
                    </div>
         --}}
           <button class="ui blue submit button"> + Add </button>
        </form>
      </div>
    </div>
     
 </div>

</section>