<nav class="ui inverted menu">
  <header class="header item"> <a href="/home"> SimpleGIS</a> </header>
  <div class="right menu">
    <a class="item" href="/signup"> Sign Up</a>
    <a class="item" href="/login">  Log In</a>
  </div>
</nav>