{{> mainmenu _id="addpropertypage" }}

<section class="ui raised segment">
 {{!-- <div class = "ui grid"> --}}
    <div class = "menu-pane">
         {{> property}}
    </div>

    <div class = "main">
         {{> map }}
    </div>
    <div class="total Properties">
 {{ totalproperties }}
 </div>
    {{!-- <div id="footer">
      {{> footer}} 
       </div> --}}
</section>
