{{> adminmenu _id="addusermain" }}

<section class="ui raised segment">
 
   <div class = "six wide column">
 
       {{> adduser}}


   <div class = "ten wide column">
 
   </div>
  </div>
</section>
