{{> mainmenu _id="editproperty" }}


<div class="ui form">
     <div class="ui stacked segment">
        <form action="/report" method="GET">
                           
                    <div class="field">
                        <label>Eircode</label>
                        <input value= "{{property.eircode}}" type="text"  name="eircode" >
                    </div>

                   <div class="ui header">Geo Location</div>
                    <div class="ui two fields">
                     
                     <div class="field">
                         <div class="ui text box">
                            <label>Longitude </label>
                            <input value="{{property.long}}" type="text"  name="long" placeholder="0.000000" accept="integer/*" maxlength="20">
                        </div>
                    </div>

                     <div class="field">
                        <div class="ui text box">
                            <label>Latitude </label>
                            <input value="{{property.lat}}" type="text"  name="lat" placeholder="0.000000" accept="integer/*" maxlength="20">
                        </div>
                      </div>
                    </div>
                  
   
           <button class="ui blue submit button"> Back </button>
        </form>
        {{> error}}
      
    </div>
    </div>

</section>