{{> mainmenu _id="home" }}

<section class="ui raised segment">
<div class = " ui grid">
 <div class = "six wide column">
  {{> property}}
  

  <div class="ui  divider"></div>

     {{!-- <div class="ui teal progress" data-percent="${progress}" id="mainprogress">
       <div class="bar"></div>
     </div> --}}

  </div>

  <div class = "six wide column">
   {{> map }}
  </div>
 </div>
</section>
