

    {{#if user.admin}}
         {{> adminmenu _id="home" }}
         {{> adminpropertylist }}
    {{else}}
         {{> mainmenu _id="home"}}
         <div class="menu-pane">
         {{> dashboard}}
         </div>
         <div class="main">
         {{> mapreport }}     
         </div>
    {{/if}} 
        
 



