{{> mainmenu _id="home" }}

<section class="ui raised segment">
<div class = " ui grid">
 <div class = "six wide column">
 
       {{> property}}


  <div class="ui  divider"></div>


  </div>

  <div class = "ten wide column">
   {{> map }}
  </div>
 </div>
</section>
