
{{!-- {{> welcomemenu }} --}}



<div class="login-container">
  <div class="column-form">
 
    <form class = "ui form" action="/login" method="POST" >
     
        <div class="login-header">
          <div class="login-image">
          <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1589366111/SimpleGIS/logo-simplegis-grey150.png" > 
          </div>       
       </div>
     
     <div id="login-fields-and-button">
        <div class="field">
          <div class="login-label" for="email">Email</div>
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="">
          </div>
        </div>

        <div class="field">
            <div class="login-label" for="password">Password</div>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="">
          </div>
        </div>

        <button class="ui fluid large submit button">
           <div id="login"><i class="sign in alternate icon"></i>
            Log In</div>
        </button>

         <div class="ui horizontal divider">
          or
        </div>
     <a href="/signup" id="create-account">   Create account   </a> 
         <div class="ui message">
   
       </div>

      <div class="ui error message"> </div>
       {{> error }}

       </div>
    </form>
 

  </div>
</div>

    

