
{{> welcomemenu }}

<section class="ui raised segment">

<div class="ui middle aligned center aligned grid">
          
  <div class="column-form">
    <h2 class="ui teal image header">
      <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1580301607/icons/Email-icon.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form action="/login" method="POST" class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large teal submit button">Login</button>
      </div>

      <div class="ui error message"></div>

    </form>
{{> error }}
    <div class="ui message">
      New to us? <a href="/signup">Create account</a>
    </div>
  </div>
  </div>

    
</section>
