{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1580306003/SimpleGIS/ethernet-fibre.jpg" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Simple Geographic Information System</header>
      <p> Create your own Fibre to the Home network </p>
          {{> error }}
    </article>
  </div>
</section>


