{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <div class="sixteen wide column">
      <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1580306003/SimpleGIS/ethernet-fibre.jpg" class="ui large image">
    </div>
    <div class="six wide column">
      <img src="http://res.cloudinary.com/jimtheenchanter/image/upload/v1580297582/simple-grid-splash.jpg" class="ui medium image">
    </div>
    <article class="ten wide column">
      <header class="ui  header"> Simple Geographic Information System</header>
      <p><strong> With a growing number of communities starting their own Fibre to the Premises networks, SimpleGIS is the best starting point for any novice or independnt group looking to
         put together their own fibre network.
</strong></p>
<p></p>
        Simple GIS is a tool for novice network designers to design and plan an independant fibre network route. 
        With no previous experience any group can use SimpleGIS to work together quickly and efficiently to collate and store essential information. Using cloud-based data 
        gathering and clever design building a customer base and create a workable fibre to the home (FTTH) solution has never been easier. </p>
        This app requires no prior knowledge of Geodata or Ordinance Survey. No need to worry about line loss and signal boosting. Leave that to the experts. 
</p><p>
        Assign as many users as you like, create as many routes and customers as you can and start planning your network. 
         </p>
          {{> error }}
    </article>
  </div>
</section>


