{{!-- {{> welcomemenu }} --}}

<section class="ui section">

  
  <div class="hero-section">
    <div class="ui grid">
      <div class="one column row">
        <div class="hero-text">    

         
               <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1588235351/SimpleGIS/logo-simpleGis-text-white.png"/ width="auto">           
             <h3>
              A Community Broadband Initiative
             </h3>
             <p>
               Assign as many users as you like, create as many routes and add 
               potential customers so you can and start planning your network. 
             </p> 
        </div>
     </div>
     <div class="three column row">
     <div class="column">

       <div class="ui card">
           <div class="image">
                <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1587840029/SimpleGIS/map1-400.jpg">
              </div>
                     <div class="content">
                       <div class="header">Collect Customers</div>

                       <div class="description">
                         Use Simple GIS to work together quickly and 
                         efficiently to collate and store essential information.
                       </div>
                     </div>
             </div>
       </div>

      <div class="column">
        <div class="ui card">
           <div class="image">
                <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1587840242/SimpleGIS/node-route-400.jpg">
              </div>
                     <div class="content">
                       <div class="header">Plan Route</div>

                       <div class="description">
                         Using cloud-based data collation and clever design, building a customer base 
                         and create a workable fibre to the home (FTTH) solution has never been easier.
                       </div>
                     </div>
             </div>
        </div> 
       

        <div class="column">  
           <div class="ui card">
            <div class="image">
                <img class="card-image" src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1587840029/SimpleGIS/ethernet-fibre-400.jpg">
              </div>
                     <div class="content">
                       <div class="header">Get Connected</div>

                       <div class="description">
                        Easily add, delete and track your progress using up-to-date mapping systems.
                       </div>
                     </div>
             </div>
        
        </div>
      </div>
      <div class="one column row">
       
        <div class="fluid ui button"> <a href="login"> <div class="start-button">GET STARTED</div> </a> </div>
        </a>
      </div>

     </div>
    </div>
  
     
          {{> error }}

 
</section>


