{{!-- {{> welcomemenu }} --}}

<div class="flex-container">
   <div class="hero-section">
                    
            <div class="splash-header">
              
              <img src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1588235351/SimpleGIS/logo-simpleGis-text-white.png" width="150rem;" height="auto" /> <h2>
             Community Network Toolkit
             </h2>
             
             
              <div class="start-button">    
                <a class="ui huge  button" href="login"> GET STARTED</a>
                 </div> 
             </div>
              
    </div>

</div> 

<div class="flex-container">
         <div class="ui card">
           
            <img class="card-image" src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1589293610/SimpleGIS/marker-sample400.jpg">

           <div class="content">
                 <div class="header">Collect Customers</div>
                 <div class="description">
                   Use Simple GIS to work together quickly and 
                   efficiently to collate and store essential information.
                 </div>
            </div>
       </div>


      
        <div class="ui card">
              <img class="card-image" src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1589293610/SimpleGIS/polygon-sample400.jpg">
                   <div class="content">
                       <div class="header">Plan Route</div>

                       <div class="description">
                         You can draw polygons and polylines on the map and instantly share them with other users.
                       </div>
             
                   </div>
        </div>
         
        <div class="ui card">
           <img class="card-image" src="https://res.cloudinary.com/jimtheenchanter/image/upload/v1589293610/SimpleGIS/polyline-sample400.jpg">
                <div class="content">
                    <div class="header">Get Connected</div>

                    <div class="description">
                     Easily add, delete and track your progress using simple mapping systems.
                    </div>
                </div>
          </div>
    </div>
      
  </div>
     
    
    
  
     
          {{> error }}

 
</section>


