{{> mainmenu _id="polygonmain" }}

<section class="ui raised segment">

 <div class = "six wide column">
  
    {{> polygon}}

 

  <div class = "ten wide column">
   {{> mappolyline }}
  </div>
 
</section>