{{> mainmenu _id="polygonmain" }}

<section class="ui raised segment">


    <div class = "menu-pane">
        {{> polygon}}
   </div>
    <div class = "main">
      {{> mappolygon }}
   </div>

 </div>
    {{!-- <div id="footer">
      {{> footer}} 
     </div> --}}
  
 </section>