{{> mainmenu _id="polygonmain" }}


    <div class = "menu-pane">
        {{> polygon}}
   </div>
   
    <div class = "main">
      {{> mappolygon }}
   </div>

 </div>
    {{!-- <div id="footer">
      {{> footer}} 
     </div> --}}
  
