{{> mainmenu _id="polylinemain" }}

<section class="ui raised segment">
<div class = " ui grid">
 <div class = "six wide column">
  
    {{> polyline}}

  <div class="ui  divider"></div>

   </div>

  <div class = "ten wide column">
   {{> mappolyline }}
  </div>
 </div>
</section>
