{{> mainmenu _id="polylinemain" }}

<section class="ui raised segment">
<div class = " ui grid">
 <div class = "six wide column">
  
    {{!-- {{#if   }} --}}
    {{> polyline}}

    {{!-- {{else }} --}}
      {{!-- {{> welcomemenu }} --}}
   {{!-- {{/if}} --}}

  <div class="ui  divider"></div>

     {{!-- <div class="ui teal progress" data-percent="${progress}" id="mainprogress">
       <div class="bar"></div>
     </div> --}}

  </div>

  <div class = "six wide column">
   {{> mappolyline }}
  </div>
 </div>
</section>
