{{> mainmenu _id="polylinemain" }}

<section class="ui raised segment">
    <div class = "menu-pane">
      {{> polyline}}
     </div>

 
    <div class = "main">
      {{> mappolyline}}
      </div>
 <div id="footer">
      {{> footer}} 
       </div>


</section>
